.chart{
    // box-shadow: 2px 4px 10 1px rgba(201, 201, 201, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.75);
      padding: 10px;
     color: grey;
     margin:20px;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgba(228, 225, 225);//used in dark mode
    }
}